[submodule "component"]
	path = component
	url = https://github.com/ratikanta-sdrc/angular-component.git
[submodule "nested-component"]
	path = nested-component
	url = https://github.com/ratikanta-sdrc/angular-nested-component.git
[submodule "pipes"]
	path = pipes
	url = https://github.com/ratikanta-sdrc/angular-pipes.git
[submodule "observable"]
	path = observable
	url = https://github.com/ratikanta-sdrc/angular-observable.git
[submodule "promise"]
	path = promise
	url = https://github.com/ratikanta-sdrc/angular-promise.git
[submodule "interface"]
	path = interface
	url = https://github.com/ratikanta-sdrc/angular-interface.git
